<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
		
	<listeners>
		<listener class-name="com.naveenlabs.Listeners.CustomListener"/>
		<listener class-name="com.naveenlabs.Listeners.TransformerForRetry"/>
		<listener class-name="com.naveenlabs.Listeners.ExtentReportListener"/>
	</listeners> 
		
		<test thread-count="5" name="Test">
			
		<classes>
			<class name="com.naveenlabs.PageTests.AccountLoginPageTest"/>
			<class name="com.naveenlabs.PageTests.ForgotYourPasswordPageTest"/>
			<class name="com.naveenlabs.PageTests.AddressBookPageTest"/>
			<class name="com.naveenlabs.PageTests.MyAccountPageTest"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite --> 